footer
      .footer-info
        a(href='/aboutus') About Us
        a(href='/contactus') Contact Us
        a(href='/message') FAQs
      .message
        h2
          | Made with 
          span.heart â¤
          |  by
          | 
          span.greeny Greeny
          |  team