extends base
block content
  body
    .about-section
      .inner-width
        h1 About Us
        .border
        .about-section-row
          .about-section-col
            .about
              p
                | green store is all about - Our aim is to empower every plant lover in the world to independently connect with buyers and sellers online. As environmentally-conscience citizens, it is not only our responsibility, but our duty to help restore this great planet&apos;s remarkable beauty and radiant spleand, green store ,the world&apos;s first free online marketplace for all things gardening, is an initiative that embodies this spirit of fervent environmentalism; an avenue for the worldwide community of nature enthusiasts to share their profound love for greenery; a much needed step towards a cleaner, greener earth for everyone.
              a(href='#') Read More
          .about-section-col
            .skills
              .skill
                .title product
                .progress
                  .progress-bar.p1
                    span 10%
              br
              .skill
                .title start
                .progress
                  .progress-bar.p2
                    span 10%
              br
              .skill
                .title sell
                .progress
                  .progress-bar.p3
                    span 10%
                br
                .skill
                  .title marketplace
                  .progress
                    .progress-bar.p4
                      span 10%
                  br
                  .skill
                    .title login
                    .progress
                      .progress-bar.p5
                        span 10%
                    br
                    .skill
                      .title learn
                      .progress
                        .progress-bar.p6
                          span 10%
                      br
                      .skill
                        .title pricing
                        .progress
                          .progress-bar.p7
                            span 10%
                        br