doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/styles/style.css')
      link(rel='stylesheet' href='/styles/index.css')
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
      link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap')
      link(rel='icon' type='image' href='/images/logo.jpeg')
      title Green-Store | #{title}
  body
    // HEADER
    include _header
        
    // CONTENT
    block content
      h1 This is a placeholder heading
      
    // FOOTER
    include _footer
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //- script(src='/scripts/login.js')
    script(src='/scripts/bundle.js')